@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --srtong__font__color: black;
  --light__font__color: rgb(70, 70, 70);
  --very__light__border: rgb(130, 128, 128);
}
