@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz@6..12&display=swap");

:root {
  --srtong__font__color: rgb(249, 247, 247);
  --less__strong__font__color: rgb(195, 193, 193);
  --light__font__color: rgb(159, 158, 158);
  --very__light__border: rgb(63 62 62 / 79%);
  --background__color__tab: rgba(87, 86, 86, 0.717);
  --backdrop__color: rgba(0, 0, 0, 0.498);
  --button__color: rgb(148 68 175 / 69%);
  --very__light__background__color: rgb(87 86 86 / 32%);
  --delete__button: rgb(247, 61, 61);
  --buy__button: #e4ad07;
  --background__color: #474646;
  --input__background__color: #3d3d3d96;
}
