.product__card {
  /* height: 40vh; */
  width: 80vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.product__card__image {
  padding: 20pxpx;
  border-bottom: 0.5px solid var(--very__light__border);
}
.product__card__image img {
  height: 40vh;
  width: 80vw;
  border-radius: 10px;
}
.whole__product__list__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lower__part__product__card {
  color: var(--srtong__font__color);
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  padding: 8px;
}
.lower__part__product__card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}
.lower__part__upper__part__whole__content {
  display: flex;
  justify-content: space-between;
}
.lower__part__name {
  font-size: 1.3rem;
  color: var(--less__strong__font__color);
}
.lower__part__price {
  font-size: 1.5rem;
}
.lower__part__description {
  font-size: 0.8rem;
  color: var(--light__font__color);
}
.total__number__product__in__stock {
  color: rgb(73, 196, 73);
}
.create__offer__button {
  font-size: 1.2rem;
  width: 60vw;
  border: none;
  background-color: var(--button__color);
  color: var(--srtong__font__color);
  border-radius: 4px;
}
.create__offer__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
