.card__buttons button {
  font-size: 0.6rem;
}
.card__buttons {
  gap: 5px;
}

.filter__every__input {
  display: flex;
  gap: 10px;
}
.search__bar {
  margin-top: 10px;
  margin-left: 10px;
}
.search__bar input {
  width: 70vw;
  padding: 5px;
}
.similar__product__container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.similar__product__every__product {
  display: flex;
  gap: 10px;
  height: auto;
  flex-direction: column;
}
.categories__element {
  padding: 10px;
}
.home__page__whole__container {
  margin-left: 0px;
  margin-right: 0px;
}
