.order__page__whole__container {
  padding: 10px 15px;
}

.order__page__header {
  color: var(--srtong__font__color);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.order__data__heading {
  color: var(--srtong__font__color);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--very__light__border);
}
.order__product__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--very__dim__background__color);
}
.order__element {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  color: var(--srtong__font__color);
}
.order__element__left__part img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.details__order__element {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 15px;
  color: var(--less__strong__font__color);
  font-family: "Nunito Sans", sans-serif;
}
.details__order__ele {
  display: flex;
  justify-content: space-between;
}

.details__order__ele span {
  text-align: end;
}

.first-div {
  /* Styles for the first div */
  color: green;
}

.second-div {
  /* Styles for the second div */
  color: orange;
}

.third-div {
  /* Styles for the third div */
  color: orangered;
}

.fourth-div {
  /* Styles for the fourth div */
  color: greenyellow;
}
