.heading__product__list {
  font-size: 1.5rem;
  padding: 10px 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.all__products__admin__panal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.all__products__admin__panal {
  margin-bottom: 10px;
}
.whole__product__list__container {
  margin-bottom: 55px;
}
