.admin__page__order__whole__container {
  padding: 10px 15px;
  margin-top: 20px;
}
.order__status__button__page {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.order__status__button__page button {
  border: none;
  padding: 15px 0px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  background-color: var(--order__tab__color);
  border-radius: 10px;
  color: var(--srtong__font__color);
}
.new__order__whole__container {
  color: var(--light__font__color);
}
.new__order__cid {
  font-size: 1.1rem;
  font-family: "Nunito Sans", sans-serif;
}
