.offer__page__header {
  display: flex;
  flex-direction: column;
}
.daily__deal__offer {
  font-size: 1.3rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 10px;
  color: var(--srtong__font__color);
  margin-top: 30px;
}
.countdown__timer {
  display: flex;
  width: 75vw;
  justify-content: space-between;
  margin: 0px 10px;
  border: 1px solid var(--very__light__border);
  align-items: center;
  padding: 8px 15px;
  border-radius: 8px;
  color: var(--srtong__font__color);
  font-family: "Nunito Sans", sans-serif;
}
.countdown__timer span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.countdown__timer p {
  margin-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
}
.offered__product__element {
  display: flex;
  margin: 15px;
  gap: 20px;
  border: 1px solid var(--very__light__border);
  padding: 10px;
  border-radius: 10px;
}
.element__right__part {
  width: 100%;
}
.right__product__name {
  font-size: 1.3rem;
  font-family: "Nunito Sans", sans-serif;
  color: var(--srtong__font__color);
}
.right__product__price {
  display: flex;
  flex-direction: column;
}
.discount__price {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: var(--srtong__font__color);
  font-family: "Nunito Sans", sans-serif;
}
.element__left__part img {
  height: 120px;
  width: 120px;
  border-radius: 5px;
}
.original__price {
  display: flex;
  font-size: 1.1rem;
  color: var(--less__strong__font__color);
  gap: 20px;
}
.original__price__left {
  display: flex;
  align-items: center;
  text-decoration: line-through;
  font-family: "Nunito Sans", sans-serif;
}
.discounted__percentage {
  color: green;
  font-family: "Nunito Sans", sans-serif;
}
.edit__delete__button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}
.add__to__cart__button {
  padding: 2px 6px;
  border: none;
  background-color: var(--button__color);
  font-family: "Nunito Sans", sans-serif;
  color: white;
  border-radius: 4px;
}
.buy__now__button {
  padding: 2px 6px;
  border: none;
  background-color: var(--buy__button);
  font-family: "Nunito Sans", sans-serif;
  color: black;
  border-radius: 4px;
}
