.modal__button__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.create__product__container__whole {
  margin-bottom: 100px;
  padding: 10px 20px;
}
