.auth__page__tab__change {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.auth__page__tab__change button {
  border: none;
}
.auth__page__tab__change button:focus {
  border: none;
  outline: none;
}

.active__tab {
  color: var(--srtong__font__color);
  background-color: var(--background__color__tab);
}

.inactive__tab {
  background-color: transparent;
  color: var(--light__font__color);
  font-family: "Nunito Sans", sans-serif;
}
