.offer__product__category__whole__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.offer__product__create__header {
  text-align: center;
  color: var(--srtong__font__color);
  font-size: 1.3rem;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.all__products__admin__panal {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
