.main__layout__inner__content {
  background-color: black;
  min-height: 90vh;
  position: relative;
  top: 48px;
}
.navbar__links {
  display: flex;
  gap: 10px;
}
.navbar__links a.active {
  color: black;
  border-bottom: 2px solid black;
}
.dropdown-menus {
  background-color: rgb(196, 196, 196);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  width: 20vw;
  padding: 5px 8px;
  z-index: 10;
}
